<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MyGet" value="https://conekta.myget.org/F/v1-netcore-packages-feed/api/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <MyGet>
      <add key="Username" value="developer" />
      <add key="ClearTextPassword" value="pj3&amp;k=Mm=K25s8YH" />
    </MyGet>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <apikeys>
    <add key="https://conekta.myget.org/F/v1-netcore-packages-feed/api/v3/index.json" value="b41b100c-10d8-4675-af7d-21a643e1d516" />
  </apikeys>
</configuration>